.border-template {
    border: 1px dotted #0084b4;
}

.p-5 {
    padding: 5px;
}

.close-choose-schedule-default {
    top: 25px;
    left: unset;
    right: 25px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border: black solid 1px !important;
    transition: opacity 300ms;
}

.w-10 {
    width: 10% !important;
}

.min-180 {
    min-height: 180px;
}
