#page-banner {
    background-image: url('../../../storage/wedding/bg_header.jpg');
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-avatar {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@font-face {
    font-family: aleo;
    src: url('../fonts/SVN-Aleo Light.otf');
}

@font-face {
    font-family: aleoBoldItalic;
    src: url('../fonts/SVN-Aleo Bold Italic.otf');
}

@font-face {
    font-family: aleoBold;
    src: url('../fonts/SVN-Aleo Bold.otf');
}

@font-face {
    font-family: aleoRegular;
    src: url('../fonts/SVN-Aleo Regular.otf');
}

@font-face {
    font-family: aleoLightItalic;
    src: url('../fonts/SVN-Aleo Light Italic.otf');
}

@font-face {
    font-family: punchbowl;
    src: url('../fonts/iCielPunchbowl-Bold.otf');
}

@font-face {
    font-family: romantically;
    src: url('../fonts/iCielRomantically-Regular.otf');
}

@font-face {
    font-family: mussica;
    src: url('../fonts/MussicaSwash.otf');
}

@font-face {
    font-family: turbayne;
    src: url('../fonts/Turbayne.ttf');
}

@font-face {
    font-family: aphrodite;
    src: url('../fonts/UVF Aphrodite Pro.ttf');
}

@font-face {
    font-family: geotica;
    src: url('../fonts/UVF Geotica 2012.ttf');
}

@font-face {
    font-family: quattrocento;
    src: url('../fonts/UVF Quattrocento-Regular.ttf');
}

@font-face {
    font-family: assassin;
    src: url('../fonts/VN_Assassin.ttf');
}

@font-face {
    font-family: heroe;
    src: url('../fonts/VN_HeroeMonolineBigPro.otf');
}

@font-face {
    font-family: valentina;
    src: url('../fonts/VN_Valentina Regular.ttf');
}

@font-face {
    font-family: museo;
    src: url('../fonts/VN_Museo Slab 500.ttf');
}

@font-face {
    font-family: vnCariar;
    src: url('../fonts/VN_Cariar Dreams Regular.ttf');
}

@font-face {
    font-family: dooType;
    src: url('../fonts/VN_dooType - Encorpada Classic.otf');
}

@font-face {
    font-family: youngblood;
    src: url('../fonts/Youngblood.ttf');
}

@font-face {
    font-family: caviar;
    src: url('../fonts/UVF Caviar Dreams Bold.ttf');
}

@font-face {
    font-family: proxima;
    src: url('../fonts/FontsFree-Net-Proxima-Nova-Light.otf');
}

.navigation #cssmenu ul li a {
    font-family: punchbowl;
    font-size: 12px;
}

.navigation #cssmenu ul ul.sub-menu li a {
    font-size: 11px;
    padding: 17px 15px;
}

.top-nav-info .top-detail ul.select-lan li {
    display: block;
}

.hover-lan {
    position: relative;
}

ul.select-lan {
    position: absolute;
    background-color: #181818;
    padding: 0 8px;
    display: none;
    top: -25px;
    left: -14px;
    text-align: center;
    z-index: 999;
}

li.language:hover .select-lan {
    display: block;
}

p.current-lan {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.news-dtl .news-heading a {
    line-height: 1.4;
    color: #202020;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.wedding-logo {
    padding: 10px 0px;
}

#cssmenu > ul > li > a {
    padding: 25px 18px;
}

#modal-schedule .modal-content {
    width: auto;
}

div#modal-schedule .meta img {
    width: 100%;
    height: 100%;
}

div#modal-schedule .read-more {
    text-transform: none;
}

.modal-content .btn-default {
    width: auto;
}

div#modal-schedule .fl-right {
    max-width: 50%
}

div#modal-schedule .fl-left {
    max-width: 50%
}

.navigation #cssmenu ul li:hover ul.sub-menu {
    top: 58px;
}

div#modal-schedule .modal-content input {
    height: auto;
    margin-bottom: 0;
    font-style: unset;
    border: none;
}

.o-auto {
    overflow: auto;
}

.btn-purple {
    background-color: #6639a6;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.8s ease;
}

.btn-purple:hover {
    background-color: #ff4061;
    color: #fff;
}

.s-single {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: vnCariar;
}

.s-single h5 {
    text-align: center;
    font-family: vnCariar;
    font-weight: 800;
    position: relative;
    padding-bottom: 11px;
}

.s-single p {
    font-family: vnCariar;
    font-size: 15px;
    margin-bottom: 11px;
}

.s-info span {
    font-size: 15px;
}

.s-info {
    margin-bottom: 12px;
}

.s-single h5::after {
    content: '';
    position: absolute;
    width: 115px;
    height: 2px;
    background-color: #ff2e63;
    left: 33%;
    bottom: 0;
}

.content-new {
    background: #F3F5F6;
    overflow: auto;
}

.content-new .posts {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0px;
}

.text-author {
    color: black;
}

.text-title-new {
    font-size: unset !important;
    font-weight: 700;
    line-height: 0.81;
    color: #333;
}

.news-heading {
    margin-bottom: 0;
}

.news-heading a:hover {
    color: #ff4061;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 50px;
}

.show-card-content {
    overflow: auto;
    margin: 35px 0;
}
