#page-banner {
    background-image: url('../../../storage/wedding/banner.jpg');
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-avatar {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@font-face {
    font-family: aleo;
    src: url('../fonts/SVN-Aleo Light.otf');
}

@font-face {
    font-family: punchbowl;
    src: url('../fonts/iCielPunchbowl-Bold.otf');
}

@font-face {
    font-family: romantically;
    src: url('../fonts/iCielRomantically-Regular.otf');
}

@font-face {
    font-family: mussica;
    src: url('../fonts/MussicaSwash.otf');
}

@font-face {
    font-family: turbayne;
    src: url('../fonts/Turbayne.ttf');
}

@font-face {
    font-family: aphrodite;
    src: url('../fonts/UVF Aphrodite Pro.ttf');
}

@font-face {
    font-family: geotica;
    src: url('../fonts/UVF Geotica 2012.ttf');
}

@font-face {
    font-family: assassin;
    src: url('../fonts/VN_Assassin.ttf');
}

@font-face {
    font-family: heroe;
    src: url('../fonts/VN_HeroeMonolineBigPro.otf');
}

@font-face {
    font-family: youngblood;
    src: url('../fonts/Youngblood.ttf');
}

@font-face {
    font-family: caviar;
    src: url('../fonts/UVF Caviar Dreams Bold.ttf');
}

.navigation #cssmenu ul li a {
    font-family: punchbowl;
    font-size: 12px;
}

.navigation #cssmenu ul ul.sub-menu li a {
    font-size: 11px;
    padding: 17px 15px;
}
