#page-banner {
    background-image: url('../../../storage/wedding/banner.jpg');
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-avatar {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@font-face {
    font-family: aleo;
    src: url('../fonts/SVN-Aleo Light.otf');
}

@font-face {
    font-family: aleoBoldItalic;
    src: url('../fonts/SVN-Aleo Bold Italic.otf');
}

@font-face {
    font-family: aleoBold;
    src: url('../fonts/SVN-Aleo Bold.otf');
}

@font-face {
    font-family: aleoRegular;
    src: url('../fonts/SVN-Aleo Regular.otf');
}

@font-face {
    font-family: aleoLightItalic;
    src: url('../fonts/SVN-Aleo Light Italic.otf');
}

@font-face {
    font-family: punchbowl;
    src: url('../fonts/iCielPunchbowl-Bold.otf');
}

@font-face {
    font-family: romantically;
    src: url('../fonts/iCielRomantically-Regular.otf');
}

@font-face {
    font-family: mussica;
    src: url('../fonts/MussicaSwash.otf');
}

@font-face {
    font-family: turbayne;
    src: url('../fonts/Turbayne.ttf');
}

@font-face {
    font-family: aphrodite;
    src: url('../fonts/UVF Aphrodite Pro.ttf');
}

@font-face {
    font-family: geotica;
    src: url('../fonts/UVF Geotica 2012.ttf');
}

@font-face {
    font-family: quattrocento;
    src: url('../fonts/UVF Quattrocento-Regular.ttf');
}

@font-face {
    font-family: assassin;
    src: url('../fonts/VN_Assassin.ttf');
}

@font-face {
    font-family: heroe;
    src: url('../fonts/VN_HeroeMonolineBigPro.otf');
}

@font-face {
    font-family: valentina;
    src: url('../fonts/VN_Valentina Regular.ttf');
}

@font-face {
    font-family: museo;
    src: url('../fonts/VN_Museo Slab 500.ttf');
}

@font-face {
    font-family: vnCariar;
    src: url('../fonts/VN_Cariar Dreams Regular.ttf');
}

@font-face {
    font-family: dooType;
    src: url('../fonts/VN_dooType - Encorpada Classic.otf');
}

@font-face {
    font-family: youngblood;
    src: url('../fonts/Youngblood.ttf');
}

@font-face {
    font-family: caviar;
    src: url('../fonts/UVF Caviar Dreams Bold.ttf');
}

@font-face {
    font-family: proxima;
    src: url('../fonts/FontsFree-Net-Proxima-Nova-Light.otf');
}

.navigation #cssmenu ul li a {
    font-family: punchbowl;
    font-size: 12px;
}

.navigation #cssmenu ul ul.sub-menu li a {
    font-size: 11px;
    padding: 17px 15px;
}

.top-nav-info .top-detail ul.select-lan li {
    display: block;
}

.hover-lan {
    position: relative;
}

ul.select-lan {
    position: absolute;
    background-color: #181818;
    padding: 0 8px;
    display: none;
    top: -25px;
    left: -14px;
    text-align: center;
    z-index: 999;
}

li.language:hover .select-lan {
    display: block;
}

p.current-lan {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

