.text-box {
    line-height: 20px;
    border-radius: 3px;
}

.text-box {
    border: none;
    resize: none;
}

.draggable:hover .text-box {
    border: 1px dotted black;
    cursor: pointer;
}

.draggable {
    position: absolute;
}

.choose-image-template-img {
    width: 200px;
    height: 250px;
}

.min-height-400 {
    min-height: 400px;
}

.card-wedding {
    background-color: aliceblue;
    min-height: 760px;
    position: relative;
}

.draggable {
    width: 200px;
    height: 46px;
}

.text-box {
    background: none;
    overflow: hidden;
    font-size: 14px;
    height: 46px;
}
